/AAAlogs/
/logs/


target/
node_modules/
.idea/
.gradle/
build/
classes/
gradle/wrapper/


*.iml
package-lock.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
