<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saidake.generator.mybatis.mapper.DatabaseMapper">             <!-- 映射到mapper方法上-->

    <select id="queryTableList" resultType="com.saidake.generator.mybatis.entity.TableEntity">
        SELECT `table_name` tableName, table_comment tableComment FROM information_schema.tables WHERE table_schema=(select database())
        <if test="tableName != null and tableName.trim() != ''">
            and `table_name` =  #{tableName}
        </if>
    </select>

    <select id="queryColumnList" resultType="com.saidake.generator.mybatis.entity.ColumnEntity">
        SELECT `column_name` columnName, is_nullable nullable, data_type dataType, column_comment columnComment FROM information_schema.columns  WHERE table_schema=(select database())
        <if test="tableName != null and tableName.trim() != ''">
            and `table_name` =  #{tableName}
        </if>
        <if test="passFields!=null and passFields.size()>0">
            and `column_name`  not in
            <foreach collection="passFields" open="(" close=")"  item="item" separator=",">        <!--      循环遍历testList。适用于多个参数或者的关系。 -->
                #{item}
            </foreach>
        </if>
    </select>
    <select id="queryDistinctTableDataType" resultType="String">
        SELECT distinct data_type dataType FROM information_schema.columns  WHERE table_schema=(select database())
        <if test="tableName != null and tableName.trim() != ''">
            and `table_name` =  #{tableName}
        </if>
        <if test="passFields!=null and passFields.size()>0">
            and `column_name`  not in
            <foreach collection="passFields" open="(" close=")"  item="item" separator=",">        <!--      循环遍历testList。适用于多个参数或者的关系。 -->
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
