<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <!-- scan: If the configuration file changes, it will be reloaded. The default value is true -->
    <!-- scanPeriod: The time interval to monitor changes in the configuration file, default unit is milliseconds (this property is effective when scan is true, with a default interval of 1 minute) -->
    <!-- debug: When this property is set to true, internal logback logs will be printed. The default value is false. -->

    <springProperty name="LOG_PATH" scope="context" source="simi.log-path" default="../AAAlogs"/>           <!-- Values defined in application.properties will be inserted into the logger context, variables can also be used -->
    <springProperty name="APP_NAME" scope="context" source="spring.application.name"/>
    <springProperty name="SERVER_IP" scope="context" source="spring.cloud.client.ip-address" defaultValue="0.0.0.0"/>
    <springProperty name="SERVER_PORT" scope="context" source="server.port" defaultValue="0000"/>

    <property name="CONSOLE_LOG_PATTERN" value="%clr(%date{yyyy-MM-dd HH:mm:ss.SSS}){blue} %clr(-){faint}%clr(%5level) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%thread]){yellow} %clr(%logger){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>        <!-- Custom colored log format configuration, custom attributes allow the use of variables with "${}", colors like faint, blue, yellow, magenta, orange, cyan -->

    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} - ${APP_NAME} - %-5level --- [%thread] %logger{50} - %msg%n "/>        <!-- Custom file log format configuration -->

    <contextName>logback</contextName>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />               <!-- Log format and color rendering, the class responsible for rendering colored logs -->
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <!-- %date: Time format -->
    <!-- %level: Log level -->
    <!-- %thread: The thread name where the log was generated -->
    <!-- %logger: Package name, shortened or abbreviated -->
    <!-- %msg: The message provided by the application -->
    <!-- %n: Platform's newline character \n or \r\n -->
    <!-- -%20.30logger: For logger names shorter than 20 characters, pad with spaces on the left; truncate longer names at 30 characters -->
    <!-- %logger{26}: Abbreviates package names longer than 26 characters -->

    <!-- ${testKey:-%t }: Outputs the value of testKey, defaulting to -%t -->

    <!-- gray: Gray, white: White, yellow: Yellow, green: Green, red: Red, black: Black, magenta: Magenta, boldMagenta: Bold magenta, cyan: Cyan -->

    <appender name="CONSOLE_LOG" class="ch.qos.logback.core.ConsoleAppender">                       <!-- Outputs to the console, this appender is for development use with the lowest log level configuration, console logs will show logs greater than or equal to this level -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            <charset>UTF-8</charset>                                                         <!-- Set the character encoding -->
        </encoder>
    </appender>

    <appender name="FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">            <!-- Outputs to a file, generates a new file daily with DEBUG level logs -->
        <!--<file>${LOG_PATH}/sdk-${APP_NAME}.log</file>                                                 <!-- Log output path, when configuring rolling logs, current logs are output to this file, and logs after tomorrow will be output to the rolling log pattern file -->
        <encoder>                                                                                          <!-- Log file output format -->
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>                                                              <!-- Set the character encoding -->
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">                              <!-- Rolling policy based on time and size -->
            <fileNamePattern>${LOG_PATH}/sdklog-${APP_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>                  <!-- Logs roll daily -->
            <!--  clp.%i.log.zip: If the suffix ends with ".zip" or ".gz", log compression is enabled -->
            <!--  %d determines the time dimension for rotation, e.g., %d{yyyy/MM} rotates at the beginning of each month, by default %d is yyyy-MM-dd for daily rotation -->
            <!-- %i is the sequence number for the file after rolling based on maxFileSize -->
            <maxFileSize>100MB</maxFileSize>                                            <!-- The maximum size of a single log file, the log file will be truncated (and compressed) when this size is reached -->
            <maxHistory>60</maxHistory>                                                     <!-- Maximum retention time for log files, for example, when %d in fileNamePattern ends with dd, retain logs for 60 days -->
        </rollingPolicy>
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">                     <!-- This log file only records DEBUG level logs -->
        <!--<level>DEBUG</level>-->
        <!--<onMatch>ACCEPT</onMatch>-->
        <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">            <!-- Filters out logs lower than INFO level, records logs equal to or higher than INFO -->
            <level>INFO</level>
        </filter>
        <!-- Log levels from low to high: TRACE < DEBUG < INFO < WARN < ERROR < FATAL, if set to WARN, logs lower than WARN will not be output -->
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE_LOG" />
        <appender-ref ref="FILE_LOG" />
    </root>

    <!-- Monitoring SQL log output -->
    <!-- To see the result data, change OFF to INFO -->
    <logger name="jdbc.resultsettable" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE_LOG"/>
    </logger>

    <!-- Logs the actual execution time and SQL statements (duplicates the jdbc.sqlonly functionality) -->
    <logger name="jdbc.sqltiming" level="OFF" additivity="false">
        <appender-ref ref="CONSOLE_LOG"/>
    </logger>

    <!-- Logs only the SQL statements, replacing placeholders with actual parameters -->
    <logger name="jdbc.sqlonly" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE_LOG"/>
    </logger>

    <!-- Includes information from the ResultSet, which can be lengthy -->
    <logger name="jdbc.resultset" level="OFF" additivity="false">
        <appender-ref ref="CONSOLE_LOG"/>
    </logger>

    <!-- Logs connection information like open and close actions -->
    <logger name="jdbc.connection" level="OFF" additivity="false">
        <appender-ref ref="CONSOLE_LOG"/>
    </logger>

    <!-- Logs all JDBC calls except for ResultSet, which can be lengthy -->
    <logger name="jdbc.audit" level="OFF" additivity="false">
        <appender-ref ref="CONSOLE_LOG"/>
    </logger>
</configuration>
