<?com.myutil.entity.xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<settings>-->
        <!--&lt;!&ndash; 打印sql日志 &ndash;&gt;-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
    <!--</settings>-->
    <typeAliases>                                        <!-- 为全类名起别名-->
        <typeAlias alias="Integer" type="java.lang.Integer" />
        <!-- type   指定全类名 -->
        <!-- alias   别名 -->
        <typeAlias alias="Long" type="java.lang.Long" />
        <typeAlias alias="HashMap" type="java.util.HashMap" />
        <typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap" />
        <typeAlias alias="ArrayList" type="java.util.ArrayList" />
        <typeAlias alias="LinkedList" type="java.util.LinkedList" />
    </typeAliases>
</configuration>

